{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2>Registered Users</h2>
    <table border="1">
      <thead>
      <tr>
        <td>ID</td>
        <td>姓名</td>
        <td>性別</td>
        <td>暱稱</td>
        <td>身份證字號</td>
        <td>生日</td>
        <td>國家</td>
        <td>縣市</td>
        <td>手機</td>
        <td>大學</td>
        <td>科系</td>
        <td>Email</td>
        <td>密碼</td>
        <td>帳號創立日期</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}    
      <tr>
        <td>{{ .MemberID }}</td>
        <td> {{ .MemberName }} </td>
        <td>{{ .Gender }} </td> 
        <td>{{ .NickName }} </td> 
        <td>{{ .NationalID }} </td> 
        <td>{{ .DateofBirth }} </td> 
        <td>{{ .Region }} </td> 
        <td>{{ .City }} </td> 
        <td>{{ .ContactNumber }} </td> 
        <td>{{ .UniCode }} </td> 
        <td>{{ .MajorCode }} </td> 
        <td>{{ .Email }} </td> 
        <td>{{ .Password }} </td> 
        <td>{{ .CreateDate }} </td> 
        <td><a href="/Show?id={{ .MemberID }}">檢視</a></td>
        <td><a href="/Delete?id={{ .MemberID }}">刪除</a></td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
 {{ end }}